.page {
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-decoration: none;
  }

  .managespots {
    margin-bottom: 20px;
  }

  .mainspotcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    
  }

  .imgspot {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    
  }
  .single-spot-img1 {
    width: 300px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  .star-review {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  .manage-newspot{
    margin-top: 1rem;
    background-color: red;
  color: white;
  width:10rem;
  height:2.5rem;
  text-decoration: none;
  cursor: pointer;
  }
.editbutton{
    background-color: red;
  color: white;
  width:8rem;
  height:2.5rem;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 5px 5px 5px black;
}
.update-delete{
  display: flex;
  gap:1rem;
  align-items: center;
  margin-top: 1rem;
}
.delete-btn{
  background-color: red;
  color: white;
  width:8rem;
  height:2.5rem;
  text-decoration: none;
  
}
.manage-spot-card{
  text-decoration: none;
}
.delete-spot-btn button{
  background-color: red;
  color: white;
  width:8rem;
  height:2.5rem;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 5px 5px 5px black;
}
.manage-spot-card-link{
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.edit-btn-link{
  text-decoration: none;
  color:white;
}
