.main-div{
    display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.singleSpotdetail{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.spotname{
    font-size: 2rem;
  margin-bottom: 10px;
}
.citystate{
    align-self: flex-start;
}
.img-box{
    display: flex;
  margin-bottom: 20px;
}

.prevImgcontainer{
    margin-right: 20px;
}
.prevImg{
    width: 400px;
  height: 400px;
  object-fit: cover;
}
.smallImg{
height:100px;
width:120px;
border-color: black;
flex-direction: column;

}
.fourpic{
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.subimages{
    margin-right: 10px;
}
.reservebox{
    display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  border-color: black;
  flex-direction: column;
  padding: 10px;
  border-radius: 5px;
  align-self: flex-end;
  border: solid;
}
.reserve-btn {
    font-size: 1.2rem; 
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}
.review-box {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-bottom: 20px;
    justify-content: space-around;
  }
  .reservebox-top{
    justify-content: space-evenly;
  }
  .desc {
    margin-bottom: 20px;

    align-self: flex-start;
  }
  .reservebox .price {
    font-size: 24px;
 
  }