.main-div{
    display: flex;
  flex-direction: column;
  padding: 20px;
  margin-left: 5rem;
  margin-right: 5rem;
}
.singleSpotdetail{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.spotname{
    font-size: 2rem;
  margin-bottom: 10px;
}
.citystate{
    align-self: flex-start;
}
.img-box{
    display: flex;
  margin-bottom: 20px;
  justify-content: center;
}

.prevImgcontainer{
    margin-right: 10px;
}
.prevImg{
    width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 15px;
}
.smallImg{
height:400px;
width:450px;
border-color: black;
gap:0.5rem;
grid-template-columns: repeat(2,1fr);
display: grid;


}
.fourpic{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.reservebox{
    display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  border-color: black;
  flex-direction: column;
  border-radius: 15px;
  align-self: flex-end;
  border:2px solid;
  margin-bottom: 2rem;
  gap: 1rem;
}
.reserve-btn {
    font-size: 1.2rem; 
    cursor: pointer;
    border-radius: 5px;
    background-color: red;
  color: white;
  width:20rem;
  height:2.5rem;
  margin-bottom: 1rem;
  box-shadow: 5px 5px 5px black;
}
.review-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    justify-content: space-around;
  }
  .reservebox-top{
    justify-content: space-evenly;
    display: flex;
    column-gap: 7rem;
    margin-top: 1rem;
  }
  .desc {
    margin-bottom: 20px;

    align-self: flex-start;
  }
  .reservebox .price {
    font-size: 24px;
 
  }
  .singlespot-middle{
    display:grid;
    grid-template-columns: 3fr 2fr;
    gap:5rem;
    margin: 2rem 0 2rem;
    border-bottom: 2px solid black;
  }
  .review-index-block button{
    background-color: red;
  color: white;
  width:6rem;
  height:2rem;
  text-decoration: none;
  cursor: pointer;
  }
  .review-block button{
    background-color: red;
    color: white;
    width:8rem;
    height:2.5rem;
    text-decoration: none;
    cursor: pointer;
    
  }