.form-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width:20rem; */
    text-align: center;
    
}
.create-spot-form{
    align-items: center;
}