/* /* *{
    margin:0;
} */
.spot-index-main{
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    /* justify-content: space-evenly;  */
    margin-left: 5rem; 
    margin-right: 5rem;  
    /* width:100%; */

}
.spotcontainer{
    display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 1rem;
  grid-gap: 2.5rem;
  height:10rem;
  /* width:25rem; */
  flex-wrap:wrap;
  /* min-height: 0;
min-width: 0; */
}
.img1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 80px;
  }

.spot{
    /* width: 250px;
    height: 200px; */
    /* margin: 10px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* flex-grow: 1; */
    object-fit: cover;
    /* position: relative; */
}
.spot1 {
    /* padding: 10px; */
    /* font-size: 18px; */
    right:0%;
    display:flex;
    text-decoration: none;
  }
  .spot2 {
    /* padding: 10px; */
    font-size: 16px;
    display:flex;
    text-decoration: none;
    color:black;
  }
  .star-rate {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 10px;
    font-size: 10px;
    right:100%;
    text-decoration: none;
    color:black;
  }
  .location-container{
    /* height:250px; */
    /* display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
  flex-wrap:wrap; */
  text-decoration: none;
  color:black;
  }
  .spotlink{
    text-decoration: none;
    display:grid;
    grid-auto-rows: 300px;
    width:100%;
    /* margin-bottom: 20px; */
  }
  .starindex{
display:flex;
align-items: center;
  }
  .top-location{
    display:flex;
    justify-content: space-between;
  }
