.hidden{display:none}
/* .profilebtn{
    display:flex;
    align-items: end;
} */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 20px;
    border-bottom: 2px solid rgb(118, 107, 107);
    margin-bottom: 15px;
  }
  .Logobox {
    display: flex;
    align-items: center;
  }
  .newspot{
    margin-right: 10px;
    margin-left: auto;
    /* justify-content: ; */
  }
  .newspot {
    margin-right: 1rem;
  }
  
  .ProfileButton {
    margin-left: auto;
    margin: 50px;
  }
  .profilebtn {
    height:25px;
    width:30px;
    cursor: pointer;
  }
    .logo{
        width:80px;
    }
    .hambugericon{
      height:25px;
    width:30px;
  
    }
    .profile-box{
      position:sticky;
      /* display: flex; */
      align-items: center;
      height:40px;
      width:70px;
    }
    .profile-dropdown{
      position:absolute;
      right: 20px;
    top: 60px;
    padding: 15px 50px 20px 15px;
    border-radius: 15px;
    border:1px solid rgb(154, 146, 146);
    background-color: white;
    width:10rem;
    height:10rem;
    
    }
    .profile-icon{
      border:1px solid rgb(28, 27, 27);
      border-radius: 15px;
      height:40px;
      width:70px;
      align-items: center;
      display: flex;
      flex-direction: row;
      cursor: pointer;
    }